<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>登录</title>
	<link rel="stylesheet" href="/stylesheets/bootstrap.css">
</head>

<body>

	<div class="container">
		<div class="row">
			<h3 class="text-center">
				请登录
			</h3>
			<form class="col-md-6 col-md-offset-3" onsubmit="return false">
				<div class="form-group">
					<label for="username">用户名</label>
					<input type="text" class="form-control" id="username" placeholder="请输入用户名" value="1">
				</div>
				<div class="form-group">
					<label for="password">密码</label>
					<input type="password" class="form-control" id="password" placeholder="请输入密码" value="1">
				</div>

				<div class="checkbox">
					<label>
						<input type="checkbox" id='needToken'> 保存密码15天
					</label>
				</div>
				<button type="submit" id="submit" class="btn btn-default">登录</button>
			</form>
		</div>
	</div>

	<script src="javascripts/jquery.js"></script>
	<script>
		$(function () {

			$("#submit").on("click", login)

			function login() {
				var username = $("#username").val();
				var password = $("#password").val();
				if (username == '' || password == '') {
					alert('请输入用户名和密码')
					return;
				}

				var options = {
					url: "login/confirm",
					type: "POST",
					data: {
						username: username,
						password: password,
						token: $('#needToken').is(':checked') ? 1 : 0
					},
					dataType: "json"
				}
				$.ajax(options)
				.then(succ, faild)
				console.log(typeof options.data.token)
			}
			
			function succ(res) {
				switch (res) {
					case 0: alert("数据库错误"); break;
					case 2: alert("用户名和密码不符"); break;
					default:
						$("#submit").html("登录成功即将为您跳转到主页");
						console.log(res);
						setTimeout(() => {
							location.href = "/";
						}, 1000);
						break;
				}
			}
			function faild() {
				alert("我们的服务器爆炸了")
			}

		})  
	</script>
</body>

</html>